       body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #111;
            color: white;
            padding: 15px;
            text-align: center;
        }

        nav a {
            margin: 0 15px;
            color: #f4c430;
            text-decoration: none;
            font-weight: bold;
        }

        section {
            padding: 40px 10%;
            background: white;
            margin-bottom: 10px;
        }

        h2 {
            color: #111;
        }

        .hero img {
            width: 100%;
            border-radius: 10px;
        }

        .box {
            background: #f9f9f9;
            padding: 20px;
            margin-top: 15px;
            border-left: 5px solid #f4c430;
        }

        .vehicles {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .vehicle {
            background: #eee;
            padding: 15px;
            width: 250px;
            border-radius: 8px;
        }

        footer {
            background: #111;
            color: white;
            text-align: center;
            padding: 15px;
        }
